[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
gantools = {editable = true,file = "./gantools"}
tfnntools = {editable = true,file = "./gantools/tfnntools"}
renku = "*"

[packages]
numpy = "*"
tensorflow-gpu = "<1.15.0"
h5py = "*"
sklearn = "*"
scikit-image = "*"
gantools = {editable = true, git = "https://github.com/nperraud/gantools.git" }
tfnntools = {editable = true, git = "https://github.com/nperraud/tfnntools.git" }
matplotlib = "*"
jupyterlab = "*"
moviepy = "*"
requests = "*"
Pillow = "*"
PyYAML = "*"
lenstools = "*"

[requires]
python_version = "3.7"
